<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<beans>  
    <bean id="triangle" class="javaspringtest.Triangle" >            
        <property name="points" >      
            <list>
                <ref bean="zeroPoint" />
<!--                <ref bean="zeroPoint2" />
                <ref bean="zeroPoint3" />-->
            </list>      
        </property>            
    </bean>
  <bean id="triangle1" class="javaspringtest.Triangle" parent="triangle" > 
<!--        abstract is interpretated as ignore beans just get the template by Spring    abstract="true"  
         child collection will overwrite parent point           -->
        <property name="points" >      
            <list merge="true" >
                <!--<ref bean="zeroPoint" />-->
                <ref bean="zeroPoint2" />
                <ref bean="zeroPoint3" />
            </list>      
        </property>            
    </bean>
<!--      <bean id="triangle2" class="javaspringtest.Triangle" parent="triangle" > 
        will merge parent point           
        <property name="points" >      
            <list merge="true" >
                <ref bean="zeroPoint2" />
                <ref bean="zeroPoint3" />
            </list>      
        </property>            
    </bean>-->

    <bean id="zeroPoint" class="javaspringtest.Point" >
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    
    <bean id="zeroPoint2" class="javaspringtest.Point" >
        <property name="x" value="0"/>
        <property name="y" value="-20"/>
    </bean>
    
    <bean id="zeroPoint3" class="javaspringtest.Point" >
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>
    
</beans>