<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<beans default-init-method="myInit" default-destroy-method="myDestory">  
    <bean id="triangle" class="javaspringtest.Triangle" >            
        <property name="points" >      
            <list>
                <ref bean="zeroPoint" />
                <ref bean="zeroPoint2" />
                <ref bean="zeroPoint3" />
            </list>      
        </property>            
    </bean>
    
    <bean id="triangleinit" class="javaspringtest.Triangle" init-method="myInit" destroy-method="myDestory">            
        <property name="points" >      
            <list>
                <ref bean="zeroPoint" />
                <ref bean="zeroPoint2" />
                <ref bean="zeroPoint3" />
            </list>      
        </property>            
    </bean>
    
    <bean id="zeroPoint" class="javaspringtest.Point" >
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>
    
    <bean id="zeroPoint2" class="javaspringtest.Point" >
        <property name="x" value="0"/>
        <property name="y" value="-20"/>
    </bean>
    
    <bean id="zeroPoint3" class="javaspringtest.Point" >
        <property name="x" value="20"/>
        <property name="y" value="0"/>
    </bean>
    
</beans>