<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->


<beans>
        <bean id="triangle" class="javaspringtest.Triangle" >
        <!--    <property name="type" value="EquilateralTriangle" />
            <constructor-arg type="java.lang.String" value="Equilateral-con" />
            <constructor-arg type="int" value="10" />
            <constructor-arg  value="Equilateral-con" />
            <constructor-arg  value="10000" />
            <constructor-arg  value="5555" />-->
            <constructor-arg index="0"  value="Equilateral-con" />
            <constructor-arg index="2"  value="10000" />
            <constructor-arg index="1"  value="5555" />
            
            
        </bean >
    
</beans>